li {
	list-style-type: none;
	/*line-height: 21px;*/
	/* margin-bottom: 16px; */
	
}

body {
	
	margin: 0px;
	
}

ul {
	
	padding: 0px;
	
}

h1 {
	margin-left: 88px;
	width: 72px;
	height: 28px;
	margin-top: 18px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: #59606D;
	
}

.box {
	
	display: flex;
	height: 66px;
	padding: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0,0,0,0.05);
	border-radius: 0px 0px 8px 8px;
	
}

.dashbord{
	
	display: flex;
	flex-wrap: nowrap;
	
}

.spisok {
	
	/* display: flex; */
	/* flex-wrap: wrap; */
	justify-content: center;
	margin-top: 0;
	width: 232px;
	height: 100%;
	
}

h2 {
	
	width: 111px; 
	height: 41px;
	margin-top: 32px;
	margin-left: 88px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 41px;
	color: #1F1F1F;
	/* margin-left:35px; */
	/* margin-right:35px; */
	
}
/*
.portfeli {
	
	position: absolute;
	width: 139.69px;
	height: 21px;
	left: 87px;
	top: 163px;

	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	
	/* display: flex;
	align-items: flex-end;
	text-decoration-line: underline; 
	
	color: #1F1F1F; /
	color: #1F1F1F;
	
}

.fotbolki {
	
	position: absolute;
	width: 161px;
	height: 21px;
	left: 87px;
	top: 200px;

	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;

	/* display: flex;
	align-items: flex-end;

	color: #959DAD; /
	color: #1F1F1F;
	
}

.rubashki {
	
	position: absolute;
	width: 146.79px;
	height: 21px;
	left: 87px;
	top: 237px;

	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;

	/* display: flex;
	align-items: flex-end;

	color: #59606D; /
	color: #1F1F1F;
	
}
*/

.odejda {
	
	margin-left: 88px;
	
}

.RFR {
	
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #1F1F1F;
	margin-bottom: 16px;	
	
}

.plitka {
	
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin-top: 89;
	margin-left: 0;
	
	/*width: 264px;
	height: 272px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
	border-radius: 8px;*/
}

.forma {
	
    display: flex;
	flex-wrap: wrap;
	width: 264px;
	height: 272px;
	/* background: #FFFFFF; */
	background: #FF5F6F;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	margin: 8px;
	/* padding: 8px; */
}

.photos {
	
	height:180px;
	margin-top: 18px;
	margin-left: 61px;
	
}









/* .p1 { */
	/* left: 248px; */
	/* top: 163px; */
/* } */

/* .p2 { */
	/* left: 528px; */
	/* top: 163px; */
/* } */

/* .p3 { */
	/* left: 808px; */
	/* top: 163px; */
/* } */

/* .p4 { */
	/* left: 1088px; */
	/* top: 163px; */
/* } */

/* .p5 { */
	/* left: 248px; */
	/* top: 451px; */
/* } */

/* .p6 { */
	/* left: 528px; */
	/* top: 451px; */
/* } */

/* .p7 { */
	/* left: 808px; */
	/* top: 451px; */
/* } */

/* .p8 { */
	/* left: 1088px; */
	/* top: 451px; */
/* } */

/* .p9 { */
	/* left: 248px; */
	/* top: 739px; */
/* } */

/* .p10 { */
	/* left: 528px; */
	/* top: 739px; */
/* } */

/* .p11 { */
	/* left: 808px; */
	/* top: 739px; */
/* } */

/* .p12 { */
	/* left: 1088px; */
	/* top: 739px; */
/* } */
